<html lang="en" style="overflow-y: scroll;">

  <head>
    <!-- TYPE IN INTERNS2018 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/favicon.ico">
  </head>

  <body>

    <div id="myProgress">
      <div style="height:2px; width:0%;" id="myBar"></div>
    </div>

    <header class="header" style="background-color:#333E47;">
      <nav class="navbar navbar-default" role="navigation" style="background-color:#53aa23;">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size:40px; color:#ffffff; min-height:80px; margin:0 auto; vertical-align:middle; padding-top:30px;">Crypto Casa</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
              <li><a class="navbar-brand" href="/" style="font-size:30px; color:#ffffff; min-height:80px;"><span><img src="/favicon.ico" alt="logo"/></span></a></li>
          </ul>
        </div>
      </nav>
    </header>

    

  </body>

  </html>
